<div class="landingpage container">
    <div class="ibsclogo">
        <a href="/aboutus"><img src="../../assets/images/ibsc-logo.png" alt="logo"></a>
    </div>
    <div class="left-container">
        <a href="/jobs" class="btnHomePage">Clients</a>
    </div>
    <div class="right-container">
        <a href="/jobs" class="btnHomePage">Candidates</a>
    </div>
</div>